.background {
background: #2F2B2B;}

.igre1 {
position: absolute;
width: 245px;
height: 236px;
left: 92px;
top: 295px;

background: url(igre.jpg);
border-radius: 75px;
}

.title {
position: absolute;
width: 331px;
height: 62px;
left: 48px;
top: 94px;

font-family: 'Oxygen';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;

color: #FFFFFF;
}

.icon {
position: absolute;
width: 279px;
height: 276px;
left: 74px;
top: 187px;

background: url(igre.jpg);
border-radius: 75px;
}

.button {
position: absolute;
width: 212px;
height: 68px;
left: 103px;
top: 544px;
}
.buttoninonlinemode {
position: absolute;
width: 304px;
height: 58px;
left: 55px;
top: 671px;
}
.Rectangle8 {
position: absolute;
width: 921px;
height: 795px;
left: 38px;
top: 85px;

background: #FFFFFF;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.Rectangle24 {
position: absolute;
width: 777px;
height: 676px;
left: 110px;
top: 125px;

background: #D9D9D9;
}
.player {
position: absolute;
width: 412px;
height: 77px;
left: 293px;
top: 176px;

font-family: 'Oxygen';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 51px;
text-align: center;

color: #000000;
}

.igre2 {
position: absolute;
left: 6.06%;
right: 0%;
top: 0%;
bottom: 24.24%;

background: url(igre.jpg);
border-radius: 75px;
}

.TicTacToe {
position: absolute;
left: 0%;
right: 0%;
top: 79.8%;
bottom: 0%;

font-family: 'Oxygen';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;

color: #FFFFFF;
}

.ButtonUser {
position: absolute;
width: 226px;
height: 60px;
left: 1049px;
top: 422px;
}

.username {
position: absolute;
width: 360px;
height: 50.76px;
left: 29px;
top: 412px;
}

.ButtonLogin {
position: absolute;
width: 202px;
height: 58px;
left: 113px;
top: 629px;
}

.LinkeButton {
position: absolute;
width: 168px;
height: 24px;
left: 131px;
top: 700px;
}
.inpus {
position: absolute;
width: 360px;
height: 275.76px;
left: 27px;
top: 361px;
}

.ButtonEasyMode {
position: absolute;
width: 304px;
height: 58px;
left: 62px;
top: 376px;
}

.ButtonMiddleMode {
position: absolute;
width: 304px;
height: 58px;
left: 62px;
top: 469px;
}

.ButtonHardMode {
position: absolute;
width: 304px;
height: 58px;
left: 62px;
top: 562px;
}

.ButtonStart {
position: absolute;
width: 202px;
height: 58px;
left: 115px;
top: 727px;
}

.Rectangle16 {
position: absolute;
width: 272px;
height: 204px;
left: 63px;
top: 109px;

background: #B1E0D8;
}

.ButtonPlayerone {
position: absolute;
width: 230px;
height: 72px;
left: 1049px;
top: 377px;
}

.ButtonPlayerTwo {
position: absolute;
width: 230px;
height: 72px;
left: 1053px;
top: 565px;
}
.VS {
position: absolute;
width: 232px;
height: 67px;
left: 1047px;
top: 484px;

font-family: 'Oxygen';
font-style: normal;
font-weight: 700;
font-size: 47px;
line-height: 59px;
text-align: center;

color: #97353B;
}

.WinnerIS{
position: absolute;
width: 427px;
height: 75px;
left: 480px;
top: 63px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;
}

.Video {
position: absolute;
width: 925px;
height: 607px;
left: 231px;
top: 160px;

background: #D9D9D9;
}

.TicTacToeServer {
position: absolute;
width: 362px;
height: 56px;
left: 4px;
top: 71px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;
}
.Home {
position: absolute;
width: 258px;
height: 50px;
left: 56px;
top: 249px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #000000;
}
.Player{
position: absolute;
width: 134px;
height: 50px;
left: 118px;
top: 356px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;
}
.Charts {
position: absolute;
width: 180px;
height: 70px;
left: 94px;
top: 463px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #000000;
}
.Eclipse16 {
position: absolute;
width: 56px;
height: 60px;
left: 535px;
top: 157px;

background: rgba(248, 0, 0, 0.83);
}
.Eclipse17 {
position: absolute;
width: 56px;
height: 60px;
left: 745px;
top: 157px;

background: rgba(248, 0, 0, 0.83);
}
.on {
position: absolute;
width: 68px;
height: 52px;
left: 613px;
top: 165px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;
}
.off {
position: absolute;
width: 94px;
height: 44px;
left: 847px;
top: 173px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;
}
.Rectangle15 {
position: absolute;
width: 904px;
height: 739px;
left: 442px;
top: 129px;

background: #D9D9D9;
}
.table {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 737px;
height: 281.2px;
left: 503px;
top: 158px;
}
.Rectangle15 {
position: absolute;
width: 904px;
height: 739px;
left: 442px;
top: 99px;

background: #D9D9D9;
}
.ServerActivity {
position: absolute;
width: 710px;
height: 73px;
left: 522px;
top: 132px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #000000;
}
.Eclipse18 {
position: absolute;
width: 408px;
height: 382px;
left: 673px;
top: 306px;

background: rgba(253, 212, 3, 0.53);
}
.group12 {
position: absolute;
width: 3279px;
height: 175px;
}

.group13 {
position: absolute;
width: 3240px;
height: 175px;
}


