.root{
	-fx-background-color: linear-gradient(from 100px 0px to 100px 100px, #359785, #B1E0D8);
}

.logo{
    -fx-background-radius: 50px;
}

.link_button{
    
}
.main_input {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 30px;
    -fx-cursor: text;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
}
.main_input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: 
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 30px;
    -fx-prompt-text-fill: transparent;
    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
}

.title{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30px;
    -fx-font-weight: 700;
    -fx-line-height: 38px;
}
.sub_title{
    -fx-text-fill: #735120;
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    
}

.game_button{
    -fx-background: #B1E0D8;
    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
    -fx-background-radius: 30px;
    
    -fx-text-fill: #0A3257;
    -fx-font-size: 15px 15px 0px 0px;
    -fx-font-weight: 700;
}
/*
-fx-padding: 10px;
*/

.main_button{
    -fx-background: #FFFFFF;
    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
    -fx-background-radius: 30px;
    -fx-padding: 10px;
    -fx-text-fill: #0A3257;
    -fx-font-size: 15px 15px 0px 0px;
    -fx-font-weight: 700;
}
.back_button{
    -fx-background: #FFFFFF;
    -fx-padding: 10px;
    -fx-text-fill: #0A3257;
    -fx-font-size: 30px;
    -fx-font-weight: 800;
    -fx-background-radius: 50px;
}